
    body {
      font-family: Arial, sans-serif;
      max-width: 600px;
      margin: auto;
      padding: 20px;
      background-image: url('background\ web.jpeg');
      background-position: center;
    }
    p {
      max-width: 500px;
      font-size: 16px;
    }

    .paragraph {
  text-align: right;
  font-size: 50px;
  width: 100%;
}

    h1 {
      text-align: center;
      font-size: 45px;
      font-family:Arial, Helvetica, sans-serif;
    }
    label {
      display: block;
      margin-top: 10px;
    }
    input, select {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      box-sizing: border-box;
    }
    button {
      margin-top: 15px;
      padding: 10px 20px;
      background: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
    }
    .result {
      margin-top: 20px;
      background: white;
      padding: 15px;
      border-radius: 5px;
    }
      .container {
  width: 100%;
  max-width: 800px;         
  margin:   0px auto;     
  padding: 0px;            
  background-color: rgb(219, 219, 219);  
  border-radius: 0px;       
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}
    
