
    body {
      font-family: Arial, sans-serif;
      max-width: 600px;
      margin: auto;
      padding: 20px;
      background-image: url('img/download (77).jpg');
    }
    p {
      max-width: 500px;
      font-size: 16px;
    }


    h1 {
      text-align: center;
    }
    label {
      display: block;
      margin-top: 10px;
    }
    input, select {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      box-sizing: border-box;
    }
    button {
      margin-top: 15px;
      padding: 10px 20px;
      background: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
    }
    .result {
      margin-top: 20px;
      background: white;
      padding: 15px;
      border-radius: 5px;

    }
